.movie-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.movie-info {
  padding: 15px;
  text-align: center;
}

.movie-rating {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
  width: 60px;
}

.movie-info h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.movie-info p {
  font-size: 0.9em;
  color: #777;
}

.heart {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1.5rem;
    color: grey; 
  }
  
  .heart.in-watchlist {
    color: red; 
  }
  

.movie-card:hover {
  transform: translateY(-5px);
}


  