/* 
.navbar {
    background-color: #fcd703; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: black;
  }
  
  .navbar-brand a {
    text-decoration: none;
    color: black;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  
  .nav-link:hover {
    color: #444;
  }
  
   */

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD700; /* Yellow background */
    padding: 15px 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .navbar.dark-mode {
    background-color: #333;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
  }
  
  .navbar-brand a {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #333; /* Slightly darken on hover */
  }
  
  .icon-heart {
    font-size: 40px;
    margin-right: 5px;
    margin-bottom: 2px;
  }
  
  .language-toggle {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-chevron {
    margin-left: 5px;
    font-size: 20px;
  }
  
  /* Adjustments for dark mode */
  .dark-mode .navbar-brand, .dark-mode .navbar-links a {
    color: #fff;
  }
  